.header{
    display: flex;
    flex-direction: column;
    text-align: center;

    .header__title{
        font-size: 1.6rem;
        font-weight: 200;
    }
    .header__subtitle{
        font-size: 1.6rem;
        font-weight: 600;
    }
    .header__paragraph{
        margin-top: 1.2rem;
        color: $grayishBlue;
    }
}